<div class="form form--lg">
  <div class="form__box">
    <h2>Sign up</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="form__group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required:true, class: "form__input" %>
        <span>Email</span>
        <i></i>
      </div>
    
      <div class="form__group">
       
        <%= f.password_field :password, autocomplete: "new-password", required: true, class: "form__input" %>
      <span>Password 
         <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
         <% end %>
      </span>
      <i></i>
      </div>
    
      <div class="form__group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form__input" %>
        <span>Confirm password</span>
        <i></i>
      </div>

      <div class="form__checkbox">
      <%= f.collection_check_boxes :department_ids, Department.all, :id, :name, required: true, class: "form__input" %>
      <span>Department</span>
      <i></i>
    </div>
    
        <%= f.submit "Sign up", class: "btn btn--mid" %>
      
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>
