<div class="form form--lg">
  <div class="form__box">
<h1>Creat handover form</h1>
<%= form_for(@handover) do |f| %>
    <%= render 'shared/errors', object: @handover %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :status, value: :pending  %>
    <div class="form__group">
    <%= f.text_area :activities, placeholder: 'Enter your activities here' %>
    </div>
    <div class="form__group">
    <%= f.text_field :blob_rates, placeholder: 'Enter your blob rates here' %>
    </div>
    <div class="form__group">
    <%= f.text_field :ejection_rates, placeholder: 'Enter your ejection rates here' %>
    </div>
    <div class="form__group">
    <%= f.text_area :pending_issues, placeholder: 'Enter your pending issues here' %>
    </div>
    <div class="form__group">
    <%= f.text_area :comments, placeholder: 'Enter your comments here' %>
    </div>
    <%= f.submit 'Create Handover', class: "btn btn--lg" %>
<% end %>
</div>
</div>