<header class="header">
    <%= link_to 'LOGO', root_path, class: "header__logo" %>
    <% items = ['Home', 'Dropdown Menu', 'Mega menu', 'Blog', 'About' ] %>
    <nav>
        <ul class="header__menu">
                <li class="nav-link">
                  <%= link_to 'Home', root_path, class: "header__menu__item" %>
                </li>
                <li class="nav-link dropdown">
                    <%= link_to 'Users', users_index_path, class: "header__menu__item" %>
                </li>
                <li class="nav-link mega">
                  <%= link_to 'Handover', handovers_path, class: "header__menu__item" %>
                
                </li>
                <li class="nav-link mega">
                  <%= link_to 'Dashboard', dashboard_index_path, class: "header__menu__item" %>
                </li>
                <li class="nav-link">
                  <%= link_to 'About', '#', class: "header__menu__item" %>
                </li>
                <% if current_user %>
                <li>
                  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn--mid" %>
                <li>
                <% else %>
                <li>
                  <%= link_to 'Login', user_session_path, class: "btn" %>
                </li>
                <li>
                  <%= link_to 'Register', new_user_registration_path, class: "btn" %>
                </li>
                <% end %>
        </ul>
    </nav>
</header>