<div class="form form--mid">
  <div class="form__container">
  <h2>Register</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
          
          <div class="input-box">
          <%= f.email_field :email, required: "required", autocomplete: "email", class: "form__input" %>
            <span>Email</span>
            <i></i>
          </div>
          <div class="input-box">
          <%= f.password_field :password, required: "required", autocomplete: "new-password", class: "form__input" %>
            <span>Password</span>
            <i></i>
          </div>
          <div class="input-box">
          <%= f.password_field :password_confirmation, required: "required", autocomplete: "new-password", class: "form__input" %>
            <span>password Confirmation</span>
            <i></i>
          </div>
  
          <%= f.submit "Create account", class: "btn btn--mid" %>
        
    <% end %>
        <%= render "users/shared/links" %>
  </div>
  
</div>